* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
}

h2 {
  text-align: center;
}

.balance {
  text-align: center;
  margin: 20px 0;
}

.summary {
  display: flex;
  justify-content: space-between;
}

.summary div {
  background: #334155;
  padding: 10px;
  border-radius: 5px;
  width: 45%;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, button {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

button {
  background: #22c55e;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #334155;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-right: 5px solid;
}

li.plus {
  border-color: #22c55e;
}

li.minus {
  border-color: #ef4444;
}
